[user]
	name = Wesley Klop
	email = wesley19097@gmail.com
	signingkey = A6F6DB7CB772F1A0
[core]
	editor = vim
	excludesfile = ~/.config/git/gitignore
	autocrlf = input
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[commit]
	gpgsign = true
[push]
    default = simple
    rebase = false
[pull]
	rebase = false
[alias]
    cleanup = "!git branch --merged | grep -v -P '^\\*|master|develop|main' | xargs -n1 -r git branch -d"
    update = "!git checkout develop && git pull && git cleanup"
