{{- $email := get . "email" -}}
{{- if not $email -}}
    {{- $email = promptString "email" -}}
{{- end -}}
{{- $npmToken := get . "npmtoken" -}}
{{- if not $npmToken -}}
    {{- $npmToken = promptString "npm token" -}}
{{- end -}}


{{- $personal := false -}}
{{- $work := false -}}
{{- $isWsl := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-    if .chezmoi.kernel.osrelease | lower | contains "microsoft" -}}
{{-       $isWsl = true -}}
{{-    end -}}
{{- end -}}
{{- if eq .chezmoi.hostname "KLOPWLT01" -}}
{{-    $work = true -}}
{{- end -}}

encryption = "gpg"
remove = true

[data]
    email = {{ $email | quote }}
    npmtoken = {{ $npmToken | quote }}
    personal = {{ $personal }}
    work = {{ $work }}
    wsl = {{ $isWsl }}
    github = "WesleyKlop"
[data.name]
    full = "Wesley Klop"
    first = "Wesley"
    last = "Klop"
[data.toolchains]
    php = true
    deno = false
    node = true
    rust = true
    java = false
    elixir = false
    go = false
[data.automation]
    update = false
[secret]
    command = "onepassword"
[git]
    autoAdd = true
    autoCommit = false
[gpg]
    recipient = "wesley19097@gmail.com"
