{{- $email := get . "email" -}}
{{- if not $email -}}
    {{- $email = promptString "email" -}}
{{- end -}}
{{- $npmToken := get . "npmtoken" -}}
{{- if not $npmToken -}}
    {{- $npmToken = promptString "npm token" -}}
{{- end -}}


{{- $personal := false -}}
{{- $work := false -}}
{{- $isWsl := (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}


encryption = "gpg"
remove = true

[data]
    email = {{ $email | quote }}
    npmtoken = {{ $npmToken | quote }}
    personal = {{ $personal }}
    work = {{ $work }}
    wsl = {{ $isWsl }}
[data.name]
    full = "Wesley Klop"
    first = "Wesley"
    last = "Klop"
[secret]
    command = "onepassword"
[git]
    autoAdd = true
    autoCommit = true
[gpg]
    recipient = "wesley19097@gmail.com"
