{{- $email := get . "email" -}}
{{- if not $email -}}
    {{- $email = promptString "email" -}}
{{- end -}}
{{- $npmToken := get . "npmtoken" -}}
{{- if not $npmToken -}}
    {{- $npmToken := promptString "npm token" -}}
{{- end -}}

encryption = "gpg"

[data]
    email = {{ $email | quote }}
    npmtoken = {{ $npmToken | quote }}
[secret]
    command = "onepassword"
[git]
    autoAdd = true
    autoCommit = true
[gpg]
    recipient = "wesley19097@gmail.com"
