# Path as an array for readability
path=(
    "$CARGO_HOME/bin"
    "$COMPOSER_HOME/vendor/bin"
    "/usr/local/opt/bash/bin"
    "/usr/local/opt/grep/libexec/gnubin"
    "/usr/local/opt/findutils/libexec/gnubin"
    "/usr/local/opt/gnu-sed/libexec/gnubin"
    "/usr/local/MacGPG2/bin"
    "$HOME/.local/share/bin"
    "$HOME/.local/bin"
    "/usr/local/bin"
    "/usr/bin"
    "/bin"
    "/usr/sbin"
    "/sbin"
)
export PATH=$(IFS=":"; echo "${path[*]}")

{{/* vim: set filetype=zsh: */}}
