{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -euo pipefail

OP_VERSION="1.10.3"
ARCH={{ .chezmoi.arch | quote }}
FILENAME="op_linux_${ARCH}_v${OP_VERSION}.zip"

tmpdir=$(mktemp -d)
cleanup() {
    rm -rf "$tmpdir"
}
trap cleanup EXIT

cd "$tmpdir"
curl -LO "https://cache.agilebits.com/dist/1P/op/pkg/v${OP_VERSION}/${FILENAME}"
unzip -o "${FILENAME}" op -d ~/.local/bin
{{ end -}}
{{/* vim: set filetype=bash: */}}

