#!/usr/bin/env bash

set -eux

echo "Installing gpg if needed..."
if ! command -v gpg &> /dev/null; then
{{- if eq .chezmoi.os "linux" }}
    sudo apt install gpg # This should be nicer...
{{- end }}
    echo Done
fi
