#!/usr/bin/env bash

set -eux

echo "Installing gpg if needed..."
if ! command -v gpg &>/dev/null; then
    {{- if eq .chezmoi.os "linux" }}
    sudo apt install gpg # This should be nicer...
    {{- end }}
    echo Done
fi

echo "Setting user shell if needed..."
zshloc="$(which zsh)"
if [ "$SHELL" != "$zshloc" ]; then
    chsh -s "$zshloc"
    echo Done
fi
