{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

# This script relies on environment so don't rely on the shell to have the latest version
{{ template "environment-config.sh.tmpl" . }}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ include "./Brewfile" }}
EOF
{{ end -}}
{{/* vim: set filetype=bash: */}}
