{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

set -eufo pipefail

{{- if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
packages=(
	curl
    jq
	vim
    tmux
    htop
    git
    neofetch
    gpg
    gpg-agent
    shellcheck
)

{{- if (eq .chezmoi.hostname "idris") -}}
packages+=(
    borgmatic
)
{{- end -}}

sudo apt update

sudo apt install -y ${packages[@]}

sudo apt upgrade -y
{{- end -}}

{{- end -}}
{{/* vim: set filetype=bash: */}}
