#!/usr/bin/env bash

set -u

{{- $VAULT_ID := "c4prpuzlxrox5pjph36zqnnvge" }}
{{- $ACCOUNT_ID := "GIFANVXR5RGWZE5T2QIURRYYPE" }}
gpg --list-keys '{{ .email }}' &>/dev/null
export GPG_TTY=$(tty)
cat <<'GPG' | gpg --import
{{ onepasswordDocument "53jcpexmdvfqrgzc4l4nqqk2hi" $VAULT_ID $ACCOUNT_ID }}
GPG
