#!/usr/bin/env bash

set -euo pipefail

{{ template "environment-config.sh.tmpl" . }}
{{ template "path-config.sh.tmpl" . }}

echo "Upgrading chezmoi"
~/.local/bin/chezmoi upgrade

vim +PluginInstall +qall

{{- if eq .toolchains.kubernetes true }}
{{-     if ne .chezmoi.os "darwin" }}
(
  cd "$(mktemp -d)"
  KREW="krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}"
  curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz"
  tar zxvf "${KREW}.tar.gz"
  ./"${KREW}" install krew
)
{{-     end }}

kubectl krew install ctx ns
{{- end }}

{{- if eq .toolchains.rust true }}
echo "Setting up rust"

packages=(
    cargo-audit
    cargo-cache
    cargo-edit
    cargo-hack
    cargo-outdated
)

echo "Checking for existing rust installation..."
if [ ! -d "$CARGO_HOME" ]; then
    echo "Can't find cargo home folder, so installing through rustup."
    curl https://sh.rustup.rs -sSf | sh -s -- --no-modify-path -y
else
    echo "Rust is already installed, trying to update to the latest version."
    "$CARGO_HOME/bin/rustup" update
fi

cargo="$CARGO_HOME/bin/cargo"
if [ ! -f "$CARGO_HOME/bin/cargo-install-update" ]; then
    $cargo install "${packages[@]}"
    $cargo install diesel_cli --no-default-features --features postgres
else
    $cargo install-update "${packages[@]}"
    $cargo install-update diesel_cli 
fi
{{- end }}


{{- if eq .toolchains.php true }}
echo "Installing/updating php toolchain..."

{{-     if eq .chezmoi.os "darwin" }}
# On macOS, install valet
composer global require laravel/valet
{{-     end }}

composer global update
{{- end }}

# completion
chezmoi completion zsh > "$ZDOTDIR/completions/_chezmoi"
{{- if eq .toolchains.kubernetes true }}
kubectl completion zsh > "$ZDOTDIR/completions/_kubectl"
{{- end }}
{{- if eq .toolchains.rust true }}
rustup completions zsh > "$ZDOTDIR/completions/_rustup"
{{- end }}
if command -v op > /dev/null; then
  op completion zsh > "$ZDOTDIR/completions/_op"
fi

zsh -ic "$(cat <<- ZSH
{{- if eq .chezmoi.os "darwin" }}
zinit creinstall -Q "$(brew --prefix)/share/zsh/site-functions"
{{- end }}
zinit creinstall -Q "$ZDOTDIR/completions"
ZSH
)"


