#!/usr/bin/env bash

set -euo pipefail

{{ template "environment-config.sh.tmpl" . }}

echo "Upgrading chezmoi"
~/.local/bin/chezmoi upgrade

echo "Installing vim plugins"
VIM_BUNDLE_DIR="$HOME/.local/vim/bundle"
mkdir -p "$VIM_BUNDLE_DIR"

if [ ! -d "$VIM_BUNDLE_DIR/Vundle.vim" ]; then
    # Vundle for vim plugins
    git clone https://github.com/VundleVim/Vundle.vim.git "$VIM_BUNDLE_DIR/Vundle.vim"
else
    pushd "$VIM_BUNDLE_DIR/Vundle.vim"
    git pull
    popd
fi

vim +PluginInstall +qall

{{- if eq .toolchains.kubernetes true }}
{{- if ne .chezmoi.os "darwin" }}
(
  cd "$(mktemp -d)" &&
  OS="$(uname | tr '[:upper:]' '[:lower:]')" &&
  ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')" &&
  KREW="krew-${OS}_${ARCH}" &&
  curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz" &&
  tar zxvf "${KREW}.tar.gz" &&
  ./"${KREW}" install krew
)
{{- end }}

kubectl krew install ctx ns
{{- end }}

{{- if eq .toolchains.rust true }}
echo "Setting up rust"

packages=(
    cargo-audit
    cargo-cache
    cargo-edit
    cargo-hack
    cargo-outdated
    cargo-readme
    cargo-update
    cargo-generate

    modenv
{{- if ne .chezmoi.os "darwin" }}
    du-dust
    tealdeer
{{- end }}
)

echo "Checking for existing rust installation..."
if [ ! -d "$CARGO_HOME" ]; then
    echo "Can't find cargo home folder, so installing through rustup."
    curl https://sh.rustup.rs -sSf | sh -s -- --no-modify-path -y
else
    echo "Rust is already installed, trying to update to the latest version."
    "$CARGO_HOME/bin/rustup" update
fi

cargo="$CARGO_HOME/bin/cargo"
if [ ! -f "$CARGO_HOME/bin/cargo-install-update" ]; then
    $cargo install "${packages[@]}"
    $cargo install diesel_cli --no-default-features --features postgres
else
    $cargo install-update "${packages[@]}"
    $cargo install-update diesel_cli 
fi
{{- end }}


{{- if eq .toolchains.php true }}
echo "Installing/updating php toolchain..."

{{- if eq .chezmoi.os "darwin" }}
# On macOS, install valet
composer global require laravel/valet
{{- end }}

composer global update
{{- end }}

# completion
{{- if eq .toolchains.kubernetes true }}
kubectl completion zsh > "$ZDOTDIR/completions/_kubectl"
{{- end }}
{{- if eq .toolchains.rust true }}
rustup completions zsh > "$ZDOTDIR/completions/_rustup"
{{- end }}
