{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

set -eufo pipefail

# This script relies on environment so don't rely on the shell to have the latest version
{{ template "environment-config.sh.tmpl" . }}

# Starship
sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- -y

# Deno toolchain
{{ if eq .toolchains.deno true }}
if ! command -v deno &> /dev/null; then
    sh -c "$(curl -fsSL https://deno.land/x/install/install.sh)"
else
    deno upgrade
fi
{{ end }}

{{ if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
packages=(
    bat
	curl
    jq
	neovim
    htop
    git
    neofetch
    gpg
    gpg-agent
    shellcheck
    ripgrep
    fd-find
)

{{ if (eq .chezmoi.hostname "idris") -}}
# Automated backups
packages+=(
    borgmatic
)
{{- end }}

sudo apt update

sudo apt install -y ${packages[@]}

{{ if eq .automation.update true -}}
sudo apt upgrade -y
{{- end }}

{{- end -}}

{{- end -}}
{{/* vim: set filetype=bash: */}}
