{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

set -eufo pipefail

## cross-distro packages
# Starship
sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- -y
# Deno
sh -c "$(curl -fsSL https://deno.land/x/install/install.sh)"

{{ if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
# Latest bat release
latest_url=$(curl -Ls -o /dev/null -w %{url_effective} https://github.com/sharkdp/bat/releases/latest)
latest_tag="${latest_url##*/v}"
curl -Lo "/tmp/${latest_tag}_bat.deb" "https://github.com/sharkdp/bat/releases/download/v${latest_tag}/bat_${latest_tag}_amd64.deb"
sudo dpkg -i "/tmp/${latest_tag}_bat.deb" 
rm "/tmp/${latest_tag}_bat.deb" 

packages=(
	curl
    jq
	vim
    tmux
    htop
    git
    neofetch
    gpg
    gpg-agent
    shellcheck
    ripgrep
    # Required for building Rust toolchain
    libpq-dev
    libssl-dev
    pkg-config
)

{{ if (eq .chezmoi.hostname "idris") -}}
packages+=(
    borgmatic
)
{{- end }}

sudo apt update

sudo apt install -y ${packages[@]}

sudo apt upgrade -y

{{- end -}}

{{- end -}}
{{/* vim: set filetype=bash: */}}
