##########
## BEHAVIOR
###########

# Don't show the greeting
no-greeting

# Disable inclusion of the version string in ASCII armored output.
no-emit-version

# Disable comment string in clear text signatures and ASCII armored messages.
no-comments

# Display long key IDs.
keyid-format long

# List all keys (or the specified ones) along with their fingerprints.
with-fingerprint

# Display the calculated validity of user IDs during key listings.
list-options show-uid-validity
verify-options show-uid-validity

{{ if (eq .chezmoi.os "darwin") -}}
# Try to use the GnuPG-Agent. With this option, GnuPG first tries to connect to
# the agent before it asks for a passphrase.
use-agent
{{- end }}

# Tell GnuPG that it's okay to automatically fetch missing keys
auto-key-retrieve

##########
# KEYSERVER
###########

# This is the server that --recv-keys, --send-keys, and --search-keys will
# communicate with to receive keys from, send keys to, and search for keys on.
keyserver hkps://keys.openpgp.org

# When using --refresh-keys, if the key in question has a preferred keyserver
# URL, then disable use of that preferred keyserver to refresh the key from.
keyserver-options include-revoked auto-key-retrieve

######################
# ALGORITHM AND CIPHERS
#######################

# When verifying a signature made from a subkey, ensure that the cross
# certification "back signature" on the subkey is present and valid. This
# protects against a subtle attack against subkeys that can sign.
require-cross-certification

default-key 89939941B1169B3A86C3A735A6F6DB7CB772F1A0

