[user]
    email = "wesley@q42.nl"

[url "ssh://git@github.com/Q42Philips"]
    insteadOf = https://github.com/Q42Philips
    insteadOf = https://github.com/q42philips
    insteadOf = https://github.com/Q42philips
    insteadOf = https://github.com/q42Philips
[url "ssh://git@github.com/Q42"]
	insteadOf = https://github.com/Q42
	insteadOf = https://github.com/q42
