# Profiling flag
if [[ "$ZPROF" = true ]]; then
  zmodload zsh/zprof
fi

# Load zinit
source "${ZINIT_HOME}/zinit.zsh"

# Turbo start shell
zinit ice wait'!' lucid nocd \
    atload'!prompt_starship_precmd'

# Plugin config
export NVM_LAZY_LOAD=${NVM_LAZY_LOAD-true}
export NVM_AUTO_USE=true

zinit snippet OMZ::lib/git.zsh
zinit snippet OMZ::plugins/git/git.plugin.zsh
zinit snippet OMZ::plugins/gpg-agent/gpg-agent.plugin.zsh
zinit load zsh-users/zsh-syntax-highlighting
{{- if eq .toolchains.node true }}
zinit load lukechilds/zsh-nvm
{{- end }}

zinit creinstall -Q "$ZDOTDIR/completions"
{{- if eq .chezmoi.os "darwin" }}
zinit creinstall -Q "$(brew --prefix)/share/zsh/site-functions"
{{- end }}


# Command aliases, some are overwritten by oh-my-zsh
alias dirs="dirs -v"

alias artisan="php artisan"

alias top="htop"

alias diff='diff --color=auto'

alias ip='ip -color=auto'

alias ls='exa' 
alias la="exa -lah"

alias grep='rg'

# Start starship
eval "$(starship init zsh)"

# Profiling end flag
if [[ "$ZPROF" = true ]]; then
  zprof
fi

{{/* vim: set filetype=zsh: */}}
