# Profiling flag
if [[ "$ZPROF" = true ]]; then
  zmodload zsh/zprof
fi

# Load zinit
source "${ZINIT_HOME}/zinit.zsh"

# Turbo start shell
zinit ice wait'!' lucid nocd \
    atload'!prompt_starship_precmd'

# History config
export HISTFILE="$XDG_STATE_HOME/zsh_history"
export HISTFILESIZE=1000000000
export HISTSIZE=1000000000
export SAVEHIST=$HISTSIZE

# Plugin config
export NVM_LAZY_LOAD=${NVM_LAZY_LOAD-true}
export NVM_AUTO_USE=${NVM_AUTO_USE-true}

zinit snippet OMZL::git.zsh
zinit snippet OMZL::completion.zsh

zinit snippet OMZP::git
zinit snippet OMZP::gpg-agent
zinit wait lucid atload"zicompinit; zicdreplay" blockf for \
    zsh-users/zsh-syntax-highlighting \
    ajeetdsouza/zoxide \
    jasonmccreary/git-trim

zinit wait lucid atload"
    bindkey \"\$terminfo[kcuu1]\" history-substring-search-up; 
    bindkey \"\$terminfo[kcud1]\" history-substring-search-down;
    bindkey '^[[A' history-substring-search-up;
    bindkey '^[[B' history-substring-search-down;
    bindkey -M vicmd 'k' history-substring-search-up;
    bindkey -M vicmd 'j' history-substring-search-down;
" for \
    zsh-users/zsh-history-substring-search

# Other shell config
{{- include "inc/opts.zsh" }}

# Command aliases, some are overwritten by oh-my-zsh
{{- include "inc/aliases.zsh" }}

eval "$(direnv hook zsh)"
# Start starship
eval "$(starship init zsh)"

# Profiling end flag
if [[ "$ZPROF" = true ]]; then
  zprof
fi

{{/* vim: set filetype=zsh: */}}
