tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"

# To add App Store items
brew "mas"

# Essential tools
brew "bash"
brew "curl"
brew "exiftool"
brew "findutils"
brew "git"
brew "neovim"
brew "zip"
brew "unzip"
brew "watch"
cask "gpg-suite-no-mail"

# Useful tools 
brew "bat"
brew "exa"
brew "fzf"
brew "htop"
brew "jq"
brew "yq"
brew "ripgrep"
brew "rsync"
brew "tealdeer"
brew "tree"
brew "git-delta"
brew "zoxide"

cask "monitorcontrol"
cask "dozer"
cask "rectangle"

# Fun stuff
brew "neofetch"

# Required for shell
brew "starship"
brew "zsh"

# Terminal app
cask "iterm2"

# Php toolchain
{{ if eq .toolchains.php true }}
tap "shivammathur/php"

brew "php"
brew "composer"

# Valet dependencies
brew "dnsmasq"
brew "nginx"
brew "mailhog"
{{ end }}

# Deno toolchain
{{ if eq .toolchains.deno true }}
brew "deno"
{{ end }}

# Node toolchain
{{ if eq .toolchains.node true }}
# Nothing currently, nvm goes through zsh-nvm
{{ end }}

# Rust toolchain
{{ if eq .toolchains.rust true }}
brew "rustup-init"
{{ end }}

# Java toolchain
{{ if eq .toolchains.java true }}
cask "temurin"
{{ end }}

# Go toolchain
{{ if eq .toolchains.go true }}
brew "go"
{{ end }}

# Automated backups
brew "borgbackup"
cask "vorta"

{{ if eq .toolchains.kubernetes true }}
# Kubernetes
tap "fluxcd/tap"
brew "fluxcd/tap/flux"
brew "kubernetes-cli"
brew "krew"
brew "helm"
brew "sops"
brew "k9s"
cask "lens"
{{ end }}

# Databases
{{- if eq .storage.mysql true }}
brew "groonga"
brew "mariadb"
{{- end }}
{{- if and (eq .toolchains.rust true) (eq .storage.postgres false) }}
brew "libpq"
{{- else if eq .storage.postgres true }}
brew "postgresql", restart_service: true
{{- end }}

# Password managers
cask "1password-beta"
cask "1password-cli"
cask "bitwarden"
mas "1Password for Safari", id: 1569813296

# Communication
mas "Slack", id: 803453959
cask "discord"
cask "microsoft-teams"
cask "whatsapp"

# Development tooling
cask "docker"
cask "jetbrains-toolbox"
cask "visual-studio-code"

# School and work apps
cask "forticlient-vpn"
cask "postman"
#cask "stoplight-studio"
cask "microsoft-office"

# Other casks
cask "alfred"
cask "cleanmymac"
cask "google-chrome"
cask "spotify"
cask "vlc"
