# XDG configuration
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-$HOME/.cache}"
export XDG_DATA_HOME="${XDG_DATA_HOME:-$HOME/.local/share}"
export XDG_STATE_HOME="${XDG_STATE_HOME:-$HOME/.local/state}"

# MySQL configuration
export MYSQL_HISTFILE="$XDG_STATE_HOME/mysql_history"

# Postgres configuration
export PSQLRC="$XDG_CONFIG_HOME/pg/psqlrc"
export PSQL_HISTORY="$XDG_STATE_HOME/psql_history"
export PGPASSFILE="$XDG_CONFIG_HOME/pg/pgpass"
export PGSERVICEFILE="$XDG_CONFIG_HOME/pg/pg_service.conf"

# SQLite configuration
export SQLITE_HISTORY=$XDG_STATE_HOME/sqlite_history

# GnuPG configuration
export GNUPGHOME="$HOME/.local/gnupg"

# Platform.io configuration
export PLATFORMIO_CORE_DIR="$HOME/.local/platform.io"

{{ if eq .toolchains.rust true }}
# Rust configuration
export RUSTUP_HOME="$HOME/.local/rustup"
export CARGO_HOME="$HOME/.local/cargo"
{{ end }}

{{ if eq .toolchains.php true }}
# PHP configuration
export COMPOSER_HOME="$HOME/.config/composer"
{{ end }}


{{ if eq .toolchains.node true }}
# Node configuration
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME/npm/npmrc"
export NVM_DIR="$HOME/.local/nvm"
export NPM_PACKAGES="$HOME/.local/node_modules"
export VUE_CLI_CONFIG_PATH="$HOME/.config/vue"
export NODE_REPL_HISTORY="$XDG_STATE_HOME/node_history"
{{ end }}
{{ if eq .toolchains.deno true }}
export DENO_INSTALL="$HOME/.local/deno"
export DENO_INSTALL_ROOT="$HOME/.local/bin"
{{ end }}

{{ if eq .toolchains.go true }}
# Go configuration
export GOPATH="$HOME/.local/go"
{{ end }}

{{ if eq .toolchains.elixir true }}
# Elixir configuration
export MIX_HOME="$HOME/.local/mix"
export HEX_HOME="$HOME/.local/hex"
{{ end }}

# Docker configuration
{{ if not .wsl }}
export DOCKER_CONFIG="$HOME/.config/docker"
{{ end }}
export COMPOSE_DOCKER_CLI_BUILD=1

{{ if eq .toolchains.kubernetes true }}
# Kubernetes configuration
export KREW_ROOT="$HOME/.local/krew"
{{ end }}

# Shell configuration
export ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit"
export HISTFILE="$XDG_STATE_HOME/zsh_history"

export LESSHISTFILE="$XDG_STATE_HOME/less_history"

# Github creds
export GITHUB_TOKEN={{ .github.token }}
export GITHUB_USER={{ .github.name }}

# SSH agent configuration
{{- if eq .sshagent "1password" }}
{{- if eq .chezmoi.os "darwin" }}
export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
{{- if eq .chezmoi.os "linux" }}
export SSH_AUTH_SOCK="$HOME/.1password/agent.sock"
{{- end }}
{{- end }}


{{/* vim: set filetype=zsh: */}}
