# XDG configuration
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# MySQL configuration
export MYSQL_HISTFILE="$XDG_STATE_HOME/mysql_history"

# Postgres configuration
export PSQLRC="$XDG_CONFIG_HOME/pg/psqlrc"
export PSQL_HISTORY="$XDG_STATE_HOME/psql_history"
export PGPASSFILE="$XDG_CONFIG_HOME/pg/pgpass"
export PGSERVICEFILE="$XDG_CONFIG_HOME/pg/pg_service.conf"

# SQLite configuration
export SQLITE_HISTORY=$XDG_STATE_HOME/sqlite_history

# GnuPG configuration
export GNUPGHOME="$HOME/.local/gnupg"

# Platform.io configuration
export PLATFORMIO_CORE_DIR="$HOME/.local/platform.io"

{{ if eq .toolchains.rust true }}
# Rust configuration
export RUSTUP_HOME="$HOME/.local/rustup"
export CARGO_HOME="$HOME/.local/cargo"
{{ end }}

{{ if eq .toolchains.php true }}
# PHP configuration
export COMPOSER_HOME="$HOME/.config/composer"
{{ end }}


{{ if eq .toolchains.node true }}
# Node configuration
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME/npm/npmrc"
export NVM_DIR="$HOME/.local/nvm"
export NPM_PACKAGES="$HOME/.local/node_modules"
export VUE_CLI_CONFIG_PATH="$HOME/.config/vue"
{{ end }}
{{ if eq .toolchains.deno true }}
export DENO_INSTALL="$HOME/.local/deno"
export DENO_INSTALL_ROOT="$HOME/.local/bin"
{{ end }}

{{ if eq .toolchains.go true }}
# Go configuration
export GOPATH="$HOME/.local/go"
{{ end }}

{{ if eq .toolchains.elixir true }}
# Elixir configuration
export MIX_HOME="$HOME/.local/mix"
export HEX_HOME="$HOME/.local/hex"
{{ end }}

# Docker configuration
{{ if not .wsl }}
export DOCKER_CONFIG="$HOME/.config/docker"
{{ end }}
export COMPOSE_DOCKER_CLI_BUILD=1

# Shell configuration
export ADOTDIR="$HOME/.local/antigen"
export HISTFILE="$XDG_STATE_HOME/zsh_history"

# Github creds
export GITHUB_TOKEN={{ .npmtoken }}
export GITHUB_USER={{ .github }}


{{/* vim: set filetype=zsh: */}}
