# Path as an array for readability
path=(
{{- if eq .toolchains.rust true }}
    "$CARGO_HOME/bin"
{{- end }}

{{- if eq .toolchains.php true }}
    "$COMPOSER_HOME/vendor/bin"
{{- end }}

{{- if eq .toolchains.go true }}
    "$XDG_DATA_HOME/go/bin"
{{- end }}

{{- if eq .toolchains.node true }}
    "$XDG_DATA_HOME/volta/bin"
{{- end }}
{{- if eq .toolchains.deno true }}
    "$XDG_DATA_HOME/deno/bin"
{{- end }}

{{- if (eq .chezmoi.os "darwin") }}
    # MacOS specific
  {{- if eq .chezmoi.arch "arm64" }}
    "/opt/homebrew/bin"
    "/opt/homebrew/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/bin"
  {{- end }}
    "/usr/local/MacGPG2/bin"
{{- end }}
{{- if eq .chezmoi.os "linux" }}
    "/snap/bin"
{{- end }}

{{- if eq .wsl true }}
    # WSL Tooling support
    "/mnt/c/Program Files/Microsoft VS Code/bin"
{{- end }}

{{- if eq .toolchains.kubernetes true }}
    # Kubernetes
    "$KREW_ROOT/bin"
{{- end }}

    # Defaults you always want
    "$XDG_DATA_HOME/bin"
    "$HOME/.local/bin"
    "/usr/local/sbin"
    "/usr/local/bin"
    "/usr/bin"
    "/bin"
    "/usr/sbin"
    "/sbin"
)

typeset -U path

export PATH=$(IFS=":"; echo "${path[*]}")
