 # Path as an array for readability
 path=(
 {{- if eq .toolchains.rust true }}
     "$CARGO_HOME/bin"
 {{- end }}

 {{- if eq .toolchains.php true }}
     "$COMPOSER_HOME/vendor/bin"
 {{- end }}

 {{- if eq .toolchains.go true }}
     "$HOME/.local/go/bin"
 {{- end }}

 {{- if eq .toolchains.deno true }}
     "$HOME/.local/deno/bin"
 {{- end }}

 {{- if (eq .chezmoi.os "darwin") }}
     # MacOS specific
   {{- if eq .chezmoi.arch "arm64" }}
     "/opt/homebrew/bin"
   {{- end }}
     "/usr/local/MacGPG2/bin"
     "$HOME/.krew/bin"
 {{- end }}
 {{- if eq .chezmoi.os "linux" }}
     "/snap/bin"
 {{- end }}

     # Kubernetes
     "$KREW_ROOT/bin"

     # Defaults you always want
     "$HOME/.local/share/bin"
     "$HOME/.local/bin"
     "/usr/local/sbin"
     "/usr/local/bin"
     "/usr/bin"
     "/bin"
     "/usr/sbin"
     "/sbin"
 )
 typeset -U path
 export PATH=$(IFS=":"; echo "${path[*]}")
