antigen use oh-my-zsh

antigen bundle git
antigen bundle gpg-agent
{{ if eq .toolchains.node true }}
antigen bundle lukechilds/zsh-nvm
{{ end }}
antigen bundle zsh-users/zsh-syntax-highlighting

antigen apply
