[username]
show_always=true

[hostname]
ssh_only=false
{{- if eq .wsl true }}
disabled=true
{{- end }}

[aws]
symbol = "  "

[buf]
symbol = " "
disabled = true

[c]
symbol = " "

[conda]
symbol = " "

[dart]
symbol = " "

[directory]
read_only = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[git_branch]
symbol = " "

[golang]
symbol = " "

[haskell]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[memory_usage]
symbol = " "

[nim]
symbol = " "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[package]
symbol = " "
disabled = true

[python]
symbol = " "

[spack]
symbol = "🅢 "

[rust]
symbol = " "

[gcloud]
disabled = true

[kubernetes]
symbol = "ﴱ "
disabled = false
format = "[$symbol$context( )]($style) in "
[kubernetes.context_aliases]
"gke_.*_(?P<var_cluster>[\\w-]+)(?:-cluster)" = "gke-$var_cluster"
"gke_..-(?P<t>[\\w-]+)_.*_(?P<c>[\\w]+)$" = "$t-$c"

[env_var.WSL_DISTRO_NAME]
disabled = false
symbol = ""
format = "using [$symbol $env_value]($style) "
style = "bright-purple"
