[username]
show_always=true

[hostname]
ssh_only=false
{{- if eq .wsl true }}
disabled=true
{{- end }}

[conda]
symbol = " "

[dart]
symbol = " "

[git_branch]
symbol = " "

[golang]
symbol = " "

[hg_branch]
symbol = " "

[julia]
symbol = " "

[perl]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "

[rust]
symbol = " "

[gcloud]
disabled = true

[kubernetes]
disabled = false
[kubernetes.context_aliases]
"gke_.*_(?P<var_cluster>[\\w-]+)" = "gke-$var_cluster"

[env_var.WSL_DISTRO_NAME]
disabled = false
symbol = ""
format = "using [$env_value]($style) "
style = "bright-purple"
