"$schema" = 'https://starship.rs/config-schema.json'

[username]
show_always=true

[hostname]
ssh_only=false
{{- if eq .wsl true }}
disabled=true
{{- end }}

[aws]
symbol = "  "
disabled = true

[buf]
symbol = " "
disabled = true

[c]
symbol = " "

[conda]
symbol = " "

[dart]
symbol = " "

[directory]
read_only = " 󰌾"

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[git_branch]
symbol = " "

[golang]
symbol = " "

[haskell]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[package]
symbol = "󰏗 "
disabled = true

[python]
symbol = " "

[spack]
symbol = "🅢 "

[rust]
symbol = " "

[gcloud]
disabled = true

[kubernetes]
symbol = "󰠳 "
disabled = false
format = "[$symbol$context( )]($style) in "
[kubernetes.context_aliases]
"^gke_(?P<project>.{2,7}-(?P<tier>[\\w-]+))_(?P<region>[\\w-]+)_(?P<cluster>[\\w-]+)$" = "gke-$tier-$cluster"

[env_var.WSL_DISTRO_NAME]
disabled = false
symbol = ""
format = "using [$symbol $env_value]($style) "
style = "bright-purple"
