cache={{ .chezmoi.homeDir }}/.cache/npm
init-module={{ .chezmoi.homeDir }}/.config/npm/config/npm-init.js
//npm.pkg.github.com/:_authToken={{ .github.token }}
//registry.npmjs.org/:_authToken={{ .npm.token }}
